/* #7fdbda
    #ade498
*/
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding:40px;
}

.header{
    height:95vh;
    background-image: linear-gradient( to bottom,#0e0b0bb9,#aee498b4,#7fdbdabe),url("./images/1051420710.jpg");   
    background-size:cover ;
    background-position: top;
  
    clip-path: polygon(0 0, 100% 0,100% 75%,0 100%);

}
.logo-box{
    position:absolute;
    top:0px;
    left: 0px;
    margin-top: 0x;
    margin-left: 50px;
}
.logo{
    height: 200px;
    width: 200px;   
    
}
.logo :hover{
    animation: rightMoveIn 2s ease-in-out;
}
.text-box{
position:absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
 

}
.heading-primary-main{
 display: block;
 font-weight: 600;
 font-size: 60px;
 letter-spacing: 35px;
animation-name: leftMoveIn;
animation-duration: 2s;

 
    }
.heading-primary-sub{
display: block;
font-weight: 400;
letter-spacing: 17.4px;
animation-name: rightMoveIn;
animation-duration: 2s;
}
@keyframes leftMoveIn{
    0%{
        opacity: 0;
transform: translateX(-100px);
    }
    80%{
transform: translateX(0);
    }
    100%{
transform: translate(0);
opacity: 1;
    }
}
@keyframes rightMoveIn{
    0%{
        opacity: 0;
transform: translateX(100px);
    }
    80%{
transform: translateX(0);
    }
    100%{
transform: translate(0);
opacity: 1;
    }
}
@keyframes bottomMoveIn{
    0%{
opacity: 0;
transform: translateY(100px);
    }
    100%{
        transform: translate(0);
opacity: 1;

    }
}
.btn:link,
.btn:visited{
text-transform: uppercase;
text-decoration: none;
font-size: large;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);}
.animated_button{
    background-color: #fff;
    color: #777;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    
}
.animated_button::after{
    background-color: #fff;
  
}
.btn:hover::after{
    transform: scale(1.5);
    opacity: 0;
}
.btn_animation{
    animation: bottomMoveIn 1s ease-in;

}